/*PAGINA OFERTAS*/
@media (min-width: 1024px) {
    .margen{
        margin-top: 50px;
        margin-left: 200px;
        margin-right: 200px;
    }
    .texto{
        font-size:$tamaño-letra ;
    }
}